@import "../../../../../assets/styles/scss/views/table";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    unidad: (
      width: 10rem
    ),
    tambo: (
      width: 10rem
    ),
    deslizador: (
      width: 12rem
    ),
    horaInicio: (
      width: 6rem
    ),
    horaFin: (
      width: 6rem
    ),
    horas: (
      width: 6rem
    ),
    fecha:(
      width: 8rem
    ),
    opt: (
      width: 6rem
    )
  )
);

.page-bandeja {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}