<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img class="img-responsive" src="../../../../../../assets/images/logo/pais.png">
    </mat-toolbar>
    <div class="span-usuario">
      <span>
        {{getUser.perfil.nombre}}
        <br>
        (U.T. AYACUCHO NORTE)
      </span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu1}"
        (click)="showSubmenu1 = !showSubmenu1">
        <mat-icon>assignment</mat-icon> Bienes patrimoniales
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu1">
        <a mat-list-item [routerLink]="['/intranet/home']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Vehiculos
        </a>
        <a mat-list-item [routerLink]="['/intranet/generador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Generadores electricos
        </a>
        <a mat-list-item [routerLink]="['/intranet/deslizador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Deslizadores
        </a>
      </div>


<!-- 
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu3}"
        (click)="showSubmenu3 = !showSubmenu3" *ngIf="getUser.perfil.id==3">
        <mat-icon>assessment</mat-icon> Control presupuesto
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu3">
        <a mat-list-item [routerLink]="['/intranet/asignacion-presupuestal']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Asignacion presupuestal
        </a>
        <a mat-list-item [routerLink]="['/intranet/avance-econ-presupuestal']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Avance presupuestal
        </a>
      </div> -->


      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu2}"
        (click)="showSubmenu2 = !showSubmenu2">
        <mat-icon>score</mat-icon> Control combustible
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu2">
        <a mat-list-item [routerLink]="['/intranet/kilometraje']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Control kilometraje
        </a>
        <a mat-list-item [routerLink]="['/intranet/horas-generador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Control horas generador
        </a>
        <a mat-list-item [routerLink]="['/intranet/horas-deslizador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Control horas deslizador
        </a>
      </div>

      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu5}"
        (click)="showSubmenu5 = !showSubmenu5">
        <mat-icon>commute</mat-icon> Requerimientos BS/SS
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu5">
        <a mat-list-item [routerLink]="['/intranet/control-solicitud-mant']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}" *ngIf="getUser.perfil.id!=3">
          <span class="child-link"></span>
          Solicitudes mantenimiento G.I.T.
        </a>
        <a mat-list-item [routerLink]="['/intranet/control-mantenimiento']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}" *ngIf="getUser.perfil.id!=1">
          <span class="child-link"></span>
          Requerimiento mantenimiento J.U.T.
        </a>
        <a mat-list-item [routerLink]="['/intranet/req-combustible']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}" *ngIf="getUser.perfil.id!=1">
          <span class="child-link"></span>
          Requerimiento Combustible/afines
        </a>
      </div>


      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu4}"
        (click)="showSubmenu4 = !showSubmenu4" *ngIf="getUser.perfil.id==3">
        <mat-icon>airplay</mat-icon> Cuadro control
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu4">
        <a mat-list-item [routerLink]="['/intranet/cuadro-control-tambo']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Cuadro control tambos
        </a>
        <a mat-list-item [routerLink]="['/intranet/cuadro-control']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Cuadro control general
        </a>
      </div>



      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu}"
        *ngIf="getUser.perfil.id==3" (click)="showSubmenu = !showSubmenu">
        <mat-icon>extension</mat-icon> Configuracion
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu">
        <a mat-list-item [routerLink]="['/intranet/config/asignacion-presupuestal']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Asignacion presupuestal
        </a>
        <a mat-list-item [routerLink]="['/intranet/config/bancos']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Bancos
        </a>
        <a mat-list-item [routerLink]="['/intranet/config/proveedores']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Proveedores
        </a>
        <a mat-list-item [routerLink]="['/intranet/config/orden-compra']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Orden compra
        </a>
        <a mat-list-item [routerLink]="['/intranet/config/orden-servicio']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Orden servicio
        </a>
        <a mat-list-item [routerLink]="['/intranet/config/fondo-encargo']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Fondo encargo
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Control de combustible</span> -->
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="usuario">
        {{getUser.usuario}}
        <!-- <span>(Jefe Unidad Territorial)</span> -->
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #usuario="matMenu" xPosition="after" [overlapTrigger]="false">
        <button mat-menu-item (click)="salir()">Salir</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>