@import "../../../../../assets/styles/scss/views/table";

.page-vehiculo {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    codPatrimonio: (
      width: 5rem
    ),
    nomUnidad: (
      width: 10rem
    ),
    nomTambo: (
      width: 10rem
    ),
    denominacion: (
      width: 8rem
    ),
    estado: (
      width: 8rem
    ),
    tieneSeguro: (
      width: 4rem
    ),
    iniFechaVigencia: (
      width: 8rem
    ),
    finFechaVigencia: (
      width: 8rem
    ),
    isOperativo: (
      width: 6rem
    ),
    ubicacionFisica: (
      width: 12rem
    ),
    motor: (
      width: 25rem
    ),
    potencia: (
      width: 4rem
    ),
    opt: (
      width: 3rem
    )
  )
);
