@import "../../../../../../assets/styles/scss/views/table";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTipoProducto: (
      width: 7rem
    ),
    producto: (
      width: 18rem
    ),
    cantidad: (
      width: 5rem
    ),
    monto: (
      width: 5rem
    ),
    unidadMedida: (
      width: 5rem
    ),
    opt: (
      width: 2.5rem
    )
  )
);

.empty {
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  font-size: 0.8em;
  font-weight: 500;
}

.btn-action {
  position: absolute;
  right: -2px;
  margin: -11px 0;
  padding: 0;
  min-width: 25px;
}

.none {
  display: none;
}

.table-container {
  max-height: 400px;
}