@import "../../../../../assets/styles/scss/views/table";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTipoMantenimiento: (
      width: 12rem
    ),
    nomTipoAsigPresupuesto: (
      width: 12rem
    ),
    codAsigPresupuesto: (
      width: 9rem
    ),
    marcimporteAsigPresupuestoa: (
      width: 9rem
    ),
    nroHojatramiteConf: (
      width: 6rem
    ),
    nroInformeConf: (
      width: 6rem
    ),
    actaRecepcionEmpresa: (
      width: 8rem
    ),
    cartaInformeProveedor: (
      width: 7rem
    ),
    actaRecepccionUURR: (
      width: 7rem
    ),
    nomEstadoMantenimiento: (
      width: 8rem
    ),
    opt: (
      width: 5rem
    )
  )
);


.page-bandeja {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}