@import "../../../../../../assets/styles/scss/views/table";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomUnidad: (
      width: 12rem
    ),
    nomTambo: (
      width: 12rem
    ),
    nomVehiculo: (
      width: 9rem
    ),
    fecha: (
      width: 9rem
    ),
    empresa: (
      width: 6rem
    ),
    kilometrajeInicio: (
      width: 6rem
    ),
    opt: (
      width: 7.5rem
    )
  )
);

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTambo: (
      width: 12rem
    ),
    nomTipoMantenimiento: (
      width: 8rem
    ),
    nomTipoVehiculo: (
      width: 12rem
    ),
    nomProveedor: (
      width: 12rem
    ),
    monto: (
      width: 6rem
    ),
    fecha: (
      width: 6rem
    ),
    opt: (
      width: 2.5rem
    )
  )
);

.table-container {
  max-height: 400px;
}

.btn-action {
  position: absolute;
  right: -2px;
  margin: -11px 0;
  padding: 0;
  min-width: 25px;
}

.none {
  display: none;
}

.button-separate > button {
  margin-left: 10px !important;
  margin-top: 10px;
}

.mat-horizontal-content-container {
  padding-bottom: 0px !important;
}
