<h1 mat-dialog-title>Configurar vehiculo</h1>
<div mat-dialog-content>
  <form [formGroup]="vehiculoGrp">
    <mat-grid-list cols="12" rowHeight="50px">
      <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
        <mat-form-field appearance="legacy">
          <input matInput formControlName="fechaMantenimiento" [matDatepicker]="picker" placeholder="Fecha mantenimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
        <mat-form-field appearance="legacy">
          <mat-label>Estado de unidad vehicular</mat-label>
          <mat-select disableOptionCentering formControlName="estadovehiculo">
            <mat-option *ngFor="let estadovehiculo of estadosvehiculo" [value]="estadovehiculo">
              {{estadovehiculo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
        <mat-form-field appearance="legacy">
          <mat-label>Tipo combustible</mat-label>
          <mat-select disableOptionCentering formControlName="tipocombustible">
            <mat-option *ngFor="let tipocombustible of tiposcombustible" [value]="tipocombustible">
              {{tipocombustible.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onNoClick()">Guardar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salir</button>
</div>