@import "../../../../../assets/styles/scss/views/table";

.page-vehiculo {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    unidad: (
      width: 12rem
    ),
    tambo: (
      width: 12rem
    ),
    tipo: (
      width: 9rem
    ),
    marca: (
      width: 9rem
    ),
    placa: (
      width: 6rem
    ),
    opt: (
      width: 12.5rem
    )
  )
);