<navbar [showSubmenu4]="true">
  <div class="page-bandeja">
    <ng4-loading-spinner [timeout]="300000"></ng4-loading-spinner>
    <mat-card class="box-filtros">
      <mat-card-header class="box-section-header">
        <mat-card-title class="box-section-title"> FILTROS CUADRO DE CONTROL </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form *ngIf="bandejaGrp" [formGroup]="bandejaGrp" class="example-container">
          <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
              <mat-form-field appearance="legacy">
                <mat-label>Unidad</mat-label>
                <mat-select formControlName="unidad">
                  <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                    {{unidad.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 3, xl: 3}">
              <mat-form-field appearance="legacy">
                <mat-label>Año</mat-label>
                <mat-select formControlName="anio">
                  <mat-option *ngFor="let anio of anios" [value]="anio">
                    {{anio.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card-content>
      <mat-card-actions class="btnRigth" align="end">
        <button mat-raised-button color="primary" (click)="buscar()">
          <mat-icon>search</mat-icon>
          <strong> BUSCAR</strong>
        </button>
        <button mat-raised-button (click)="exportarExcel()">
          <mat-icon>file_copy</mat-icon>
          <strong>EXPORTAR A EXCEL</strong>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="table-resultados">
      <mat-card-header>
        <mat-card-title> CUADRO DE CONTROL GENERAL - POR PARTIDAS </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-container">
        <div class="table-container clear-both">
          <!-- <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell" rowspan="2" style="width: 2rem;"> NMonico</th>
                <th class="mat-header-cell" rowspan="2" style="width: 12rem;"> UNIDADES TERRITORIALES</th>
                <th class="mat-header-cell" rowspan="2" style="width: 4rem;">PARTIDA</th>
                <th class="mat-header-cell" colspan="4" style="width: 32rem;"> CONSUMOS</th>
                <th class="mat-header-cell" rowspan="2" style="width: 6rem;">TOTAL CONSUMO</th>
                <th class="mat-header-cell" rowspan="2" style="width: 6rem;">TOTAL AVANCE PRESUPUESTAL</th>
                <th class="mat-header-cell" rowspan="2" style="width: 6rem;">SALDO</th>
              </tr>
              <tr class="mat-header-row">
                <th class="mat-header-cell"> CAMIONETAS</th>
                <th class="mat-header-cell"> MOTOCICLETAS</th>
                <th class="mat-header-cell"> GENERADORES</th>
                <th class="mat-header-cell"> DESLIZADORES</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let con of listaControl; let i=index">
                <td class="mat-cell celda-center">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.secFun}}
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.nomUnidad}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  {{con.nomPartida}}
                </td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.combCamionetas | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{con.lubCamionetas | number:'1.2-2'}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.combMotocicletas | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{con.lubMotocicletas | number:'1.2-2'}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.combGeneradores | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{con.lubGeneradores | number:'1.2-2'}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.combDeslizadores | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{con.lubDeslizadores | number:'1.2-2'}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{(con.combCamionetas + con.combMotocicletas + con.combGeneradores + con.combDeslizadores) | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{(con.lubCamionetas + con.lubMotocicletas + con.lubGeneradores + con.lubDeslizadores) | number:'1.2-2'}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">{{con.totalAvancePresupuestal | number:'1.2-2'}}</td>
                <td class="mat-cell celda-right">
                  <ng-container *ngIf="con.idPartida==1">
                    {{(con.totalAvancePresupuestal - (con.combCamionetas + con.combMotocicletas + con.combGeneradores + con.combDeslizadores)) | number:'1.2-2'}}
                  </ng-container>
                  <ng-container *ngIf="con.idPartida==2">
                    {{(con.totalAvancePresupuestal -(con.lubCamionetas + con.lubMotocicletas + con.lubGeneradores + con.lubDeslizadores)) | number:'1.2-2'}}
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table> -->
          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell" rowspan="2" style="width: 3rem;"> NMonico</th>
                <th class="mat-header-cell" rowspan="2" style="width: 12rem;"> UNIDADES TERRITORIALES</th>
                <th class="mat-header-cell" rowspan="2" style="width: 4rem;">PARTIDA</th>
                <th class="mat-header-cell" colspan="3" style="width: 24rem;"> CONTROL PRESUPUESTAL (EJECUCION)</th>
                <th class="mat-header-cell" colspan="3" style="width: 24rem;"> CONTROL PRESUPUESTAL (PROYECCCION KILOMETRAJES Y HORAS USO)</th>
              </tr>
              <tr class="mat-header-row">
                <th class="mat-header-cell"> ASIG. PRESUPUESTAL</th>
                <th class="mat-header-cell"> EJEC. PRESUPUESTAL</th>
                <th class="mat-header-cell"> SALDO</th>
                <th class="mat-header-cell"> ASIG. PRESUPUESTAL</th>
                <th class="mat-header-cell"> CONSUMO PROYECTADO</th>
                <th class="mat-header-cell"> SALDO</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let con of listaControl; let i=index">
                <td class="mat-cell celda-center">  
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.secFun}}
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container *ngIf="con.idPartida==1">
                    {{con.nomUnidad}}
                  </ng-container>
                </td>
                <td class="mat-cell celda-right">
                  {{con.nomPartida}}
                </td>
                <td class="mat-cell celda-right">
                  {{con.totalAsignacionPresupuestal | number:'1.2-2'}}
                </td>
                <td class="mat-cell celda-right">
                  {{con.totalEjecucionPresupuestal | number:'1.2-2'}}
                </td>
                <td class="mat-cell celda-right">
                  {{(con.totalAsignacionPresupuestal - con.totalEjecucionPresupuestal) | number:'1.2-2'}}
                </td>
                <td class="mat-cell celda-right">
                  {{con.totalAsignacionPresupuestal | number:'1.2-2'}}
                </td>
                <td class="mat-cell celda-right">
                  {{con.totalConsumo | number:'1.2-2'}}
                </td>
                <td class="mat-cell celda-right">
                  {{(con.totalAsignacionPresupuestal - con.totalConsumo) | number:'1.2-2'}}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="empty" *ngIf="listaControl.length == 0">
            No existe datos para mostrar en la tabla
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</navbar>