@import "../../../../../assets/styles/scss/views/table";

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomUnidad: (
      width: 13rem
    ),
    nomTambo: (
      width: 13rem
    ),
    nomTipoCombustible: (
      width: 7rem
    ),
    costoGalon: (
      width: 4rem
    ),
    cantidad: (
      width: 4rem
    ),
    costoTotal: (
      width: 4rem
    ),
    ciudadPuntoAbastecimiento: (
      width: 9rem
    ),
    distPuntoAbastecimiento: (
      width: 5rem
    ),
    proveedor: (
      width: 15rem
    ),
    rucProveedor: (
      width: 8rem
    ),
    opt: (
      width: 3rem
    )
  )
);

.page-bandeja {
  .table-resultados {
    .table-container {
      max-height: 400px;
    }
  }
}
