@import "../../../../../../../assets/styles/scss/views/table";

.table-container {
  max-height: 400px;
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    mNemonico: (
      width: 5rem
    ),
    clasificadorGasto: (
      width: 6rem
    ),
    descripcion: (
      width: 12rem
    ),
    unidadMedida: (
      width: 8rem
    ),
    cantidad: (
      width: 6rem
    ),
    precioUnitario: (
      width: 6rem
    ),
    monto: (
      width: 6rem
    )
  )
);